<% include head.ejs%>

    <div class="page-header text-center">
        <div class="logo"><img src="/assets/deepRed_100.png" /></div>

        <h1><span class="fa fa-anchor"></span> Home Page</h1>
        <a href="/" class="btn btn-default btn-sm">Return to Deep Red</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-12 profile-info">
          
            <div class="well col-sm-6 well-container">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.email) { %>
                <p>
                    <strong>Display Name</strong>: <%= user.display %><br>
                    <strong>First Name</strong>: <%= user.first %><br>
                    <strong>Last Name</strong>: <%= user.last %><br>
                    <strong>User ID</strong>: <%= user.id %><br>
                    <strong>Email Address</strong>: <%= user.email %>
                </p>

                <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>

<% include foot.ejs%>